<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://iosapps.itunes.apple.com/itunes-assets/Purple114/v4/d0/08/e9/d008e9df-ebb3-98f8-6778-11ac4ea880dc/pre-thinned17508115977154859606.lc.2422780301914518.65FPZPRZIWVBW.signed.dpkg.ipa?accessKey=1600548003_7124128087185508201_LhWYO9VdyPVKnfcWi88ttzltr53FVnYNd95dOaFr2YpoGB%2Bm5tGsWqtVJOCRDHi7g6AMmsDM%2FJsBEv6O%2B7zorm6DkGWazoLIysrwwtFkd5s6LRF2ZXJu0CfWLMUvcJrpVqlmhZlxvF7o3ZGDR2YP2mbQ7ZwwB0DKmhjLbRy3fCzmFjTlXLetQdANN9BjlP06UsQ9k33cxtnc6i1Kw%2BzqtANR9J13TwZv2WUxGS8obs4gc9j2CpGgc4Z%2BlgXa8Y9s</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.ios.youtube</string>
				<key>bundle-version</key>
				<string>15.26.4</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>41A472</string>
				<key>title</key>
				<string>Youtube 15.26.4|kd.kaotd@gmail.com</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
